# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# Data
data/raw/
data/tmp/
*.parquet

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Great Expectations
great_expectations/uncommitted/
great_expectations/.ge_store_backend_id

# OS
.DS_Store
Thumbs.db

# local data
data/raw/
data/tmp/

# keep reports only (we will add them explicitly)
data/*
!data/reports/
!data/reports/**
